excel/account.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="element" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Name"/>
              <xs:element type="xs:string" name="Industry" minOccurs="0"/>
              <xs:element type="xs:string" name="AccountNumber" minOccurs="0"/>
              <xs:element type="xs:long" name="AnnualRevenue" minOccurs="0"/>
              <xs:element type="xs:int" name="NumberOfEmployees" minOccurs="0"/>
              <xs:element type="xs:string" name="Phone" minOccurs="0"/>
              <xs:element type="xs:string" name="Fax" minOccurs="0"/>
              <xs:element type="xs:string" name="Website" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>